
@media only screen and (min-width: 320px) and (max-width: 1920px){
    #footer{
    overflow: hidden;
    margin-top: 100px;
    .footer-item{
        display: flex;
        justify-content: center;
        align-items: center;
        p{
            color: #000;
            font-family: 'Rokkitt', serif;
            padding: 20px;
        }
    }
}
}
