@media only screen and (min-width: 320px) and (max-width: 479px) {
    #offertext{
        h2{
            text-align: center;
            font-family: 'Rokkitt', serif;
            margin-top: 130px;
            font-size: 27px;
            
            b{
             background: -webkit-linear-gradient(0.25turn,#146B7E,#2BD8FE);
             -webkit-background-clip: text;
             -webkit-text-fill-color: transparent;
            }
         }
     }
    #offer{
         .box-item{
             background-color: rgb(240, 240, 240);
             border-radius: 25px;
             padding: 15px;
             margin-bottom: 50px;
             margin-top: 40px;
             margin-left: 3%;
             margin-right: 3%;
             img{
                 width: 64px;
                 height: 64px;
                 display: flex;
                 justify-content: center;
                 align-items: center;
                 margin: 0 auto;
                 margin-top: 12px;
             }
             p{
                 display: flex;
                 justify-content: center;
                 align-items: center;
                 margin: 0 auto;
                 text-align: center;
                 margin-top: 40px;
                 margin-bottom: 50px;
                 font-size: 20px;
                 font-family: 'Rokkitt', serif;
                 color: #000;
                 font-weight: bold;
             }
         }
    }
}


@media only screen and (min-width: 480px) and (max-width: 799px) {
    #offertext{
        h2{
            text-align: center;
            font-family: 'Rokkitt', serif;
            margin-top: 130px;
            font-size: 27px;
            
            b{
             background: -webkit-linear-gradient(0.25turn,#146B7E,#2BD8FE);
             -webkit-background-clip: text;
             -webkit-text-fill-color: transparent;
            }
         }
     }
    #offer{
         .box-item{
             background-color: rgb(240, 240, 240);
             border-radius: 25px;
             padding: 15px;
             margin-bottom: 50px;
             margin-top: 40px;
             margin-left: 3%;
             margin-right: 3%;
             img{
                width: 64px;
                height: 64px;
                 display: flex;
                 justify-content: center;
                 align-items: center;
                 margin: 0 auto;
                 margin-top: 12px;
             }
             p{
                 display: flex;
                 justify-content: center;
                 align-items: center;
                 margin: 0 auto;
                 text-align: center;
                 margin-top: 40px;
                 margin-bottom: 50px;
                 font-size: 20px;
                 font-family: 'Rokkitt', serif;
                 color: #000;
                 font-weight: bold;
             }
         }
    }
}


@media only screen and (min-width: 800px) and (max-width: 1023px) {
    #offertext{
        display: flex;
        justify-content: center;
        align-items: center;
        h2{
            font-family: 'Rokkitt', serif;
            margin-top: 180px;
            font-size: 27px;
            
            .element{
                position: absolute;
                background-color: rgb(26, 186, 235);
                    width: 135px;
                    height: 34px;
                    margin-top: -46px;
                    margin-left: 334px;
                    z-index: -1;
                    opacity: 0.8;
            }
            
            b{
             background: -webkit-linear-gradient(0.25turn,#146B7E,#2BD8FE);
             -webkit-background-clip: text;
             -webkit-text-fill-color: transparent;
            }
        }
     }
    #offer{
        display: flex;
        justify-content: space-between;
        align-items: center;
         .box-item{
             background-color: rgb(240, 240, 240);
             border-radius: 25px;
             padding: 15px;
             margin-bottom: 50px;
             margin-top: 90px;
             width: 280px;
             margin-right: 3%;
             margin-left: 3%;

             img{
                 display: flex;
                 justify-content: center;
                 align-items: center;
                 width: 64px;
                 height: 64px;
                 margin: 0 auto;
                 margin-top: 12px;
             }
             p{
                 text-align: center;
                 margin-top: 40px;
                 margin-bottom: 50px;
                 font-size: 20px;
                 font-family: 'Rokkitt', serif;
                 color: #000;
                 font-weight: bold;
             }
         }
    }
}



@media only screen and (min-width: 1023px) and (max-width: 1200px) {
    #offertext{
        display: flex;
        justify-content: center;
        align-items: center;
        h2{
            font-family: 'Rokkitt', serif;
            margin-top: 200px;
            font-size: 27px;
            
            .element{
                position: absolute;
                background-color: rgb(26, 186, 235);
                    width: 135px;
                    height: 34px;
                    margin-top: -46px;
                    margin-left: 334px;
                    z-index: -1;
                    opacity: 0.8;
            }
            
            b{
             background: -webkit-linear-gradient(0.25turn,#146B7E,#2BD8FE);
             -webkit-background-clip: text;
             -webkit-text-fill-color: transparent;
            }
         }
     }
    #offer{
        display: flex;
        justify-content: space-between;
        align-items: center;
         .box-item{
             background-color: rgb(240, 240, 240);
             border-radius: 25px;
             padding: 15px;
             margin-bottom: 50px;
             margin-top: 130px;
             width: 280px;
             margin-right: 3%;
             margin-left: 3%;

             img{
                 display: flex;
                 justify-content: center;
                 align-items: center;
                 width: 64px;
                 height: 64px;
                 margin: 0 auto;
                 margin-top: 12px;
             }
             p{
                 text-align: center;
                 margin-top: 40px;
                 margin-bottom: 50px;
                 font-size: 20px;
                 font-family: 'Rokkitt', serif;
                 color: #000;
                 font-weight: bold;
             }
         }
    }
}


@media only screen and (min-width: 1201px) and (max-width: 1366px) {
    #offertext{
        display: flex;
        justify-content: center;
        align-items: center;
        h2{
            font-family: 'Rokkitt', serif;
            margin-top: 200px;
            font-size: 28px;
            
            .element{
                position: absolute;
                background-color: rgb(26, 186, 235);
                    width: 115px;
                    height: 34px;
                    margin-top: -46px;
                    margin-left: 354px;
                    z-index: -1;
                    opacity: 0.7;
            }
            
            b{
             background: -webkit-linear-gradient(0.25turn,#146B7E,#2BD8FE);
             -webkit-background-clip: text;
             -webkit-text-fill-color: transparent;
            }
         }
     }
    #offer{
        display: flex;
        justify-content: space-between;
        align-items: center;
         .box-item{
             background-color: rgb(231, 231, 231);
             border-radius: 25px;
             padding: 15px;
             margin-bottom: 50px;
             margin-top: 110px;
             width: 350px;
             margin-right: 3%;
             margin-left: 3%;

             img{
                 display: flex;
                 justify-content: center;
                 align-items: center;
                 width: 64px;
                 height: 64px;
                 margin: 0 auto;
                 margin-top: 12px;
             }
             p{
                 text-align: center;
                 margin-top: 40px;
                 margin-bottom: 50px;
                 font-size: 20px;
                 font-family: 'Rokkitt', serif;
                 color: #000;
                 font-weight: bold;
             }
         }
    }
}


@media only screen and (min-width: 1367px) and (max-width: 1440px) {
    #offertext{
        display: flex;
        justify-content: center;
        align-items: center;
        h2{
            font-family: 'Rokkitt', serif;
            margin-top: 200px;
            font-size: 28px;
            
            .element{
                position: absolute;
                background-color: rgb(26, 186, 235);
                    width: 135px;
                    height: 34px;
                    margin-top: -46px;
                    margin-left: 334px;
                    z-index: -1;
                    opacity: 0.8;
            }
            
            b{
             background: -webkit-linear-gradient(0.25turn,#146B7E,#2BD8FE);
             -webkit-background-clip: text;
             -webkit-text-fill-color: transparent;
            }
         }
     }
    #offer{
        display: flex;
        justify-content: space-between;
        align-items: center;
         .box-item{
             background-color: rgb(240, 240, 240);
             border-radius: 25px;
             padding: 15px;
             margin-bottom: 50px;
             margin-top: 110px;
             width: 350px;
             margin-right: 3%;
             margin-left: 3%;

             img{
                 display: flex;
                 justify-content: center;
                 align-items: center;
                 width: 64px;
                 height: 64px;
                 margin: 0 auto;
                 margin-top: 12px;
             }
             p{
                 text-align: center;
                 margin-top: 40px;
                 margin-bottom: 50px;
                 font-size: 20px;
                 font-family: 'Rokkitt', serif;
                 color: #000;
                 font-weight: bold;
             }
         }
    }
}