@media only screen and (max-width: 479px) {
  #portfolio .getproject button {
    border: none;
    border-radius: 25px;
    background: -webkit-gradient(linear, left top, right top, from(#1DA1A9), to(#10D2FD));
    background: linear-gradient(0.25turn, #1DA1A9, #10D2FD);
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
    padding: 10px;
    width: 200px;
    margin-top: 50px;
  }
  #portfolio .next_and_back_slide_show button.left-arrow {
    border: none;
    background: transparent;
    float: left;
    margin-top: 150px;
  }
  #portfolio .next_and_back_slide_show button.left-arrow img {
    width: 44px;
    height: 44px;
  }
  #portfolio .next_and_back_slide_show button.right-arrow {
    border: none;
    background: transparent;
    float: right;
    margin-top: 150px;
  }
  #portfolio .next_and_back_slide_show button.right-arrow img {
    width: 44px;
    height: 44px;
  }
  #portfolio .portfolio-item img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
    width: 300px;
    height: 210px;
    max-width: 100%;
    margin-top: 60px;
  }
  #portfolio .portfolio-text h2 {
    text-align: center;
    font-family: 'Rokkitt', serif;
    margin-top: 80px;
    font-size: 27px;
  }
  #portfolio .portfolio-text h2 b {
    background: -webkit-linear-gradient(0.25turn, #146B7E, #2BD8FE);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  #portfolio .portfolio-text img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
    width: 172px;
    height: auto;
    margin-top: -10px;
  }
}

@media only screen and (min-width: 480px) and (max-width: 799px) {
  #portfolio .getproject button {
    border: none;
    border-radius: 25px;
    background: -webkit-gradient(linear, left top, right top, from(#1DA1A9), to(#10D2FD));
    background: linear-gradient(0.25turn, #1DA1A9, #10D2FD);
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
    padding: 10px;
    width: 200px;
    margin-top: 50px;
  }
  #portfolio .next_and_back_slide_show button.left-arrow {
    border: none;
    background: transparent;
    float: left;
    margin-top: 150px;
    margin-left: 10%;
  }
  #portfolio .next_and_back_slide_show button.left-arrow img {
    width: 44px;
    height: 44px;
  }
  #portfolio .next_and_back_slide_show button.right-arrow {
    border: none;
    background: transparent;
    float: right;
    margin-top: 150px;
    margin-right: 10%;
  }
  #portfolio .next_and_back_slide_show button.right-arrow img {
    width: 44px;
    height: 44px;
  }
  #portfolio .portfolio-item img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
    width: 300px;
    height: 210px;
    max-width: 100%;
    margin-top: 60px;
  }
  #portfolio .portfolio-text h2 {
    text-align: center;
    font-family: 'Rokkitt', serif;
    margin-top: 80px;
    font-size: 27px;
  }
  #portfolio .portfolio-text h2 b {
    background: -webkit-linear-gradient(0.25turn, #146B7E, #2BD8FE);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  #portfolio .portfolio-text img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
    width: 172px;
    height: auto;
    margin-top: -10px;
  }
}

@media only screen and (min-width: 800px) and (max-width: 1023px) {
  #portfolio .getproject button {
    border: none;
    border-radius: 25px;
    background: -webkit-gradient(linear, left top, right top, from(#1DA1A9), to(#10D2FD));
    background: linear-gradient(0.25turn, #1DA1A9, #10D2FD);
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
    padding: 10px;
    width: 200px;
    margin-top: 50px;
  }
  #portfolio .next_and_back_slide_show button.left-arrow {
    border: none;
    background: transparent;
    float: left;
    margin-top: 150px;
    margin-left: 10%;
  }
  #portfolio .next_and_back_slide_show button.left-arrow img {
    width: 44px;
    height: 44px;
  }
  #portfolio .next_and_back_slide_show button.right-arrow {
    border: none;
    background: transparent;
    float: right;
    margin-top: 150px;
    margin-right: 10%;
  }
  #portfolio .next_and_back_slide_show button.right-arrow img {
    width: 44px;
    height: 44px;
  }
  #portfolio .portfolio-item img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
    width: 300px;
    height: 210px;
    max-width: 100%;
    margin-top: 60px;
  }
  #portfolio .portfolio-text h2 {
    text-align: center;
    font-family: 'Rokkitt', serif;
    margin-top: 130px;
    font-size: 27px;
  }
  #portfolio .portfolio-text h2 b {
    background: -webkit-linear-gradient(0.25turn, #146B7E, #2BD8FE);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  #portfolio .portfolio-text img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
    width: 172px;
    height: auto;
    margin-top: -10px;
  }
}

@media only screen and (min-width: 1023px) and (max-width: 1200px) {
  #portfolio .getproject button {
    border: none;
    border-radius: 25px;
    background: -webkit-gradient(linear, left top, right top, from(#1DA1A9), to(#10D2FD));
    background: linear-gradient(0.25turn, #1DA1A9, #10D2FD);
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
    padding: 10px;
    width: 200px;
    margin-top: 50px;
  }
  #portfolio .next_and_back_slide_show button.left-arrow {
    border: none;
    background: transparent;
    float: left;
    margin-top: 150px;
    margin-left: 10%;
  }
  #portfolio .next_and_back_slide_show button.left-arrow img {
    width: 44px;
    height: 44px;
  }
  #portfolio .next_and_back_slide_show button.right-arrow {
    border: none;
    background: transparent;
    float: right;
    margin-top: 150px;
    margin-right: 10%;
  }
  #portfolio .next_and_back_slide_show button.right-arrow img {
    width: 44px;
    height: 44px;
  }
  #portfolio .portfolio-item img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
    width: 350px;
    height: 240px;
    max-width: 100%;
    margin-top: 60px;
  }
  #portfolio .portfolio-text h2 {
    text-align: center;
    font-family: 'Rokkitt', serif;
    margin-top: 140px;
    font-size: 27px;
  }
  #portfolio .portfolio-text h2 b {
    background: -webkit-linear-gradient(0.25turn, #146B7E, #2BD8FE);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  #portfolio .portfolio-text img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
    width: 172px;
    height: auto;
    margin-top: -10px;
  }
}

@media only screen and (min-width: 1201px) and (max-width: 1366px) {
  #portfolio .getproject button {
    border: none;
    border-radius: 25px;
    background: -webkit-gradient(linear, left top, right top, from(#1DA1A9), to(#10D2FD));
    background: linear-gradient(0.25turn, #1DA1A9, #10D2FD);
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
    padding: 10px;
    width: 200px;
    margin-top: 60px;
  }
  #portfolio .next_and_back_slide_show button.left-arrow {
    border: none;
    background: transparent;
    float: left;
    margin-top: 150px;
    margin-left: 10%;
  }
  #portfolio .next_and_back_slide_show button.left-arrow img {
    width: 44px;
    height: 44px;
  }
  #portfolio .next_and_back_slide_show button.right-arrow {
    border: none;
    background: transparent;
    float: right;
    margin-top: 150px;
    margin-right: 10%;
  }
  #portfolio .next_and_back_slide_show button.right-arrow img {
    width: 44px;
    height: 44px;
  }
  #portfolio .portfolio-item img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
    width: 350px;
    height: 240px;
    max-width: 100%;
    margin-top: 60px;
  }
  #portfolio .portfolio-text h2 {
    text-align: center;
    font-family: 'Rokkitt', serif;
    margin-top: 140px;
    font-size: 27px;
  }
  #portfolio .portfolio-text h2 b {
    background: -webkit-linear-gradient(0.25turn, #146B7E, #2BD8FE);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  #portfolio .portfolio-text img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
    width: 172px;
    height: auto;
    margin-top: -10px;
  }
}

@media only screen and (min-width: 1367px) and (max-width: 1440px) {
  #portfolio .getproject button {
    border: none;
    border-radius: 25px;
    background: -webkit-gradient(linear, left top, right top, from(#1DA1A9), to(#10D2FD));
    background: linear-gradient(0.25turn, #1DA1A9, #10D2FD);
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
    padding: 10px;
    width: 200px;
    margin-top: 60px;
  }
  #portfolio .next_and_back_slide_show button.left-arrow {
    border: none;
    background: transparent;
    float: left;
    margin-top: 150px;
    margin-left: 10%;
  }
  #portfolio .next_and_back_slide_show button.left-arrow img {
    width: 44px;
    height: 44px;
  }
  #portfolio .next_and_back_slide_show button.right-arrow {
    border: none;
    background: transparent;
    float: right;
    margin-top: 150px;
    margin-right: 10%;
  }
  #portfolio .next_and_back_slide_show button.right-arrow img {
    width: 44px;
    height: 44px;
  }
  #portfolio .portfolio-item img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
    width: 350px;
    height: 240px;
    max-width: 100%;
    margin-top: 60px;
  }
  #portfolio .portfolio-text h2 {
    text-align: center;
    font-family: 'Rokkitt', serif;
    margin-top: 140px;
    font-size: 27px;
  }
  #portfolio .portfolio-text h2 b {
    background: -webkit-linear-gradient(0.25turn, #146B7E, #2BD8FE);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  #portfolio .portfolio-text img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
    width: 172px;
    height: auto;
    margin-top: -10px;
  }
}
/*# sourceMappingURL=portfolio.css.map */