@media only screen and (min-width: 320px) and (max-width: 479px) {
    #portfolio{
        .getproject{
            button {
                border: none;
                border-radius: 25px;
                background: linear-gradient(0.25turn, #1DA1A9, #10D2FD);
                display: flex;
                justify-content: center;
                flex-direction: column; 
                align-items: center;
                margin: 0 auto;
                padding: 10px;
                width: 190px;
                margin-top: 50px;
            
                a{
                color: white;
                text-decoration: none;
                }
            }
        }
        .next_and_back_slide_show{
            button.left-arrow{
                border: none;
                background: transparent;
                float: left;
                margin-top: 180px;
                img{
                    width: 35px;
                    height: 35px;
                    
                    &:hover{
                        cursor: pointer;
                    }
                }
            }
            button.right-arrow{
                border: none;
                background: transparent;
                float: right;
                margin-top: 180px;
                
                img{
                    width: 35px;
                    height: 35px;
                    
                    &:hover{
                        cursor: pointer;
                    }
                }
            }
        }
        .portfolio-item{
            
            a{
                img{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: 0 auto;
                    width: 220px;
                    height: 160px;
                    max-width: 100%;
                    margin-top: 120px;
                    &:hover{
                        cursor: pointer;
                    }
                }
                &:hover{
                    cursor: auto;
                }
            }
        }
        .portfolio-text{
            h2{
                text-align: center;
                font-family: 'Rokkitt', serif;
                margin-top: 80px;
                font-size: 27px;
                
                b{
                    background: -webkit-linear-gradient(0.25turn,#146B7E,#2BD8FE);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
            }
            img{
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0 auto;
                width: 172px;
                height: auto;
                margin-top: -10px;
            }
        }
    }
}


@media only screen and (min-width: 480px) and (max-width: 799px) {
    #portfolio{
        .getproject{
            button {
                border: none;
                border-radius: 25px;
                background: linear-gradient(0.25turn, #1DA1A9, #10D2FD);
                display: flex;
                justify-content: center;
                flex-direction: column; 
                align-items: center;
                margin: 0 auto;
                padding: 10px;
                width: 190px;
                margin-top: 50px;
            
                a{
                color: white;
                text-decoration: none;
                }
            }
        }
        .next_and_back_slide_show{
            button.left-arrow{
                border: none;
                background: transparent;
                float: left;
                margin-top: 200px;
                margin-left: 5%;
                
                img{
                    width: 44px;
                    height: 44px;
                    
                    &:hover{
                        cursor: pointer;
                    }
                }
            }
            button.right-arrow{
                border: none;
                background: transparent;
                float: right;
                margin-top: 200px;
                margin-right: 5%;
                
                img{
                    width: 44px;
                    height: 44px;
                    
                    &:hover{
                        cursor: pointer;
                    }
                }
            }
        }
        .portfolio-item{
            
            a{
                img{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: 0 auto;
                    width: 320px;
                    height: 210px;
                    max-width: 100%;
                    margin-top: 120px;
                    &:hover{
                        cursor: pointer;
                    }
                }
                &:hover{
                    cursor: auto;
                }
            }
        }
        .portfolio-text{
            h2{
                text-align: center;
                font-family: 'Rokkitt', serif;
                margin-top: 130px;
                font-size: 27px;
                
                b{
                    background: -webkit-linear-gradient(0.25turn,#146B7E,#2BD8FE);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
            }
            img{
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0 auto;
                width: 172px;
                height: auto;
                margin-top: -10px;
            }
        }
    }
}


@media only screen and (min-width: 800px) and (max-width: 1023px) {
    #portfolio{
        .getproject{
            button {
                border: none;
                border-radius: 25px;
                background: linear-gradient(0.25turn, #1DA1A9, #10D2FD);
                display: flex;
                justify-content: center;
                flex-direction: column; 
                align-items: center;
                margin: 0 auto;
                padding: 10px;
                width: 260px;
                margin-top: 70px;
                font-size: 18px;
                
                a{
                    text-decoration: none;
                    color: #fff;
                }
            }
        }
        .next_and_back_slide_show{
            button.left-arrow{
                border: none;
                background: transparent;
                float: left;
                margin-top: 200px;
                margin-left: 15%;
                
                img{
                    width: 44px;
                    height: 44px;
                    &:hover{
                        cursor: pointer;
                    }
                }
            }
            button.right-arrow{
                border: none;
                background: transparent;
                float: right;
                margin-top: 200px;
                margin-right: 15%;
                
                img{
                    width: 44px;
                    height: 44px;
                    
                    &:hover{
                        cursor: pointer;
                    }
                }
            }
        }
        .portfolio-item{
            
            a{
                img{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: 0 auto;
                    width: 320px;
                    height: 210px;
                    max-width: 100%;
                    margin-top: 120px;
                    &:hover{
                        cursor: pointer;
                    }
                }
                &:hover{
                    cursor: auto;
                }
            }
        }
        .portfolio-text{
            h2{
                text-align: center;
                font-family: 'Rokkitt', serif;
                margin-top: 190px;
                font-size: 27px;
                
                b{
                    background: -webkit-linear-gradient(0.25turn,#146B7E,#2BD8FE);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
            }
            img{
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0 auto;
                width: 172px;
                height: auto;
                margin-top: -10px;
            }
        }
    }
}



@media only screen and (min-width: 1023px) and (max-width: 1200px) {
    #portfolio{
        .getproject{
            button {
                border: none;
                border-radius: 25px;
                background: linear-gradient(0.25turn, #1DA1A9, #10D2FD);
                display: flex;
                justify-content: center;
                flex-direction: column; 
                align-items: center;
                margin: 0 auto;
                padding: 10px;
                width: 260px;
                margin-top: 70px;
                font-size: 18px;
                
                a{
                    text-decoration: none;
                    color: #fff;
                }
            }
        }
        .next_and_back_slide_show{
            button.left-arrow{
                border: none;
                background: transparent;
                float: left;
                margin-top: 200px;
                margin-left: 20%;
                
                img{
                    width: 44px;
                    height: 44px;
                    
                    &:hover{
                        cursor: pointer;
                    }
                }
            }
            button.right-arrow{
                border: none;
                background: transparent;
                float: right;
                margin-top: 200px;
                margin-right: 20%;
                
                img{
                    width: 44px;
                    height: 44px;
                    
                    &:hover{
                        cursor: pointer;
                    }
                }
            }
        }
        .portfolio-item{
            
            a{
                img{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: 0 auto;
                    width: 320px;
                    height: 210px;
                    max-width: 100%;
                    margin-top: 120px;
                   &:hover{
                        cursor: pointer;
                    }
                }
                &:hover{
                    cursor: auto;
                }
            
            }
        }
        .portfolio-text{
            h2{
                text-align: center;
                font-family: 'Rokkitt', serif;
                margin-top: 200px;
                font-size: 27px;
                
                b{
                    background: -webkit-linear-gradient(0.25turn,#146B7E,#2BD8FE);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
            }
            img{
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0 auto;
                width: 172px;
                height: auto;
                margin-top: -10px;
            }
        }
    }
}


@media only screen and (min-width: 1201px) and (max-width: 1366px) {
    #portfolio{
        .getproject{
            button {
                border: none;
                border-radius: 25px;
                background: linear-gradient(0.25turn, #1DA1A9, #10D2FD);
                display: flex;
                justify-content: center;
                flex-direction: column; 
                align-items: center;
                margin: 0 auto;
                padding: 10px;
                width: 260px;
                margin-top: 70px;
                font-size: 18px;
                
                a{
                    text-decoration: none;
                    color: #fff;
                }
            }
        }
        .next_and_back_slide_show{  
            button.left-arrow{
                border: none;
                background: transparent;
                float: left;
                margin-top: 200px;
                margin-left: 20%;
                
                img{
                    width: 44px;
                    height: 44px;
                    
                    &:hover{
                        cursor: pointer;
                    }
                }
            }
            button.right-arrow{
                border: none;
                background: transparent;
                float: right;
                margin-top: 200px;
                margin-right: 20%;
                
                img{
                    width: 44px;
                    height: 44px;
                    
                    &:hover{
                        cursor: pointer;
                    }
                }
            }
        }
        .portfolio-item{
            
            a{
                img{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: 0 auto;
                    width: 320px;
                    height: 210px;
                    max-width: 100%;
                    margin-top: 120px;
                    &:hover{
                        cursor: pointer;
                    }
                }
                &:hover{
                    cursor: auto;
                }
            }
        }
        .portfolio-text{
            h2{
                text-align: center;
                font-family: 'Rokkitt', serif;
                margin-top: 200px;
                font-size: 27px;
                
                b{
                    background: -webkit-linear-gradient(0.25turn,#146B7E,#2BD8FE);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
            }
            img{
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0 auto;
                width: 172px;
                height: auto;
                margin-top: -10px;
            }
        }
    }
}


@media only screen and (min-width: 1367px) and (max-width: 1440px) {
    #portfolio{
        .getproject{
            button {
                border: none;
                border-radius: 25px;
                background: linear-gradient(0.25turn, #1DA1A9, #10D2FD);
                display: flex;
                justify-content: center;
                flex-direction: column; 
                align-items: center;
                margin: 0 auto;
                padding: 10px;
                width: 260px;
                margin-top: 70px;
                font-size: 18px;
                
                a{
                    text-decoration: none;
                    color: #fff;
                }
            }
        }
        .next_and_back_slide_show{
            button.left-arrow{
                border: none;
                background: transparent;
                float: left;
                margin-top: 200px;
                margin-left: 25%;
                
                img{
                    width: 44px;
                    height: 44px;
                    
                    &:hover{
                        cursor: pointer;
                    }
                }
            }
            button.right-arrow{
                border: none;
                background: transparent;
                float: right;
                margin-top: 200px;
                margin-right: 25%;
                
                img{
                    width: 44px;
                    height: 44px;
                    
                    &:hover{
                        cursor: pointer;
                    }
                }
            }
        }
        .portfolio-item{
            
            a{
                img{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: 0 auto;
                    width: 320px;
                    height: 210px;
                    max-width: 100%;
                    margin-top: 120px;
                    &:hover{
                        cursor: pointer;
                    }
                }
                &:hover{
                    cursor: auto;
                }
            }
        }
        .portfolio-text{
            h2{
                text-align: center;
                font-family: 'Rokkitt', serif;
                margin-top: 200px;
                font-size: 27px;
                
                b{
                    background: -webkit-linear-gradient(0.25turn,#146B7E,#2BD8FE);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
            }
            img{
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0 auto;
                width: 172px;
                height: auto;
                margin-top: -10px;
            }
        }
    }
}
@media only screen and (min-width: 1441px) and (max-width: 1599px){
    #portfolio{
        .getproject{
            button {
                border: none;
                border-radius: 25px;
                background: linear-gradient(0.25turn, #1DA1A9, #10D2FD);
                display: flex;
                justify-content: center;
                flex-direction: column; 
                align-items: center;
                margin: 0 auto;
                padding: 10px;
                width: 260px;
                margin-top: 70px;
                font-size: 18px;
                
                a{
                    text-decoration: none;
                    color: #fff;
                }
            }
        }
        .next_and_back_slide_show{
            button.left-arrow{
                border: none;
                background: transparent;
                float: left;
                margin-top: 200px;
                margin-left: 25%;
                
                img{
                    width: 44px;
                    height: 44px;
                    
                    &:hover{
                        cursor: pointer;
                    }
                }
            }
            button.right-arrow{
                border: none;
                background: transparent;
                float: right;
                margin-top: 200px;
                margin-right: 25%;
                
                img{
                    width: 44px;
                    height: 44px;
                    
                    &:hover{
                        cursor: pointer;
                    }
                }
            }
        }
        .portfolio-item{
            
            a{
                img{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: 0 auto;
                    width: 340px;
                    height: 220px;
                    max-width: 100%;
                    margin-top: 120px;
                    &:hover{
                        cursor: pointer;
                    }
                }
                &:hover{
                    cursor: auto;
                }
            }
        }
        .portfolio-text{
            h2{
                text-align: center;
                font-family: 'Rokkitt', serif;
                margin-top: 200px;
                font-size: 27px;
                
                b{
                    background: -webkit-linear-gradient(0.25turn,#146B7E,#2BD8FE);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
            }
            img{
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0 auto;
                width: 172px;
                height: auto;
                margin-top: -10px;
            }
        }
    }
}
@media only screen and (min-width: 1600px) and (max-width: 1679px){
    #portfolio{
        .getproject{
            button {
                border: none;
                border-radius: 25px;
                background: linear-gradient(0.25turn, #1DA1A9, #10D2FD);
                display: flex;
                justify-content: center;
                flex-direction: column; 
                align-items: center;
                margin: 0 auto;
                padding: 10px;
                width: 260px;
                margin-top: 70px;
                font-size: 18px;
                
                a{
                    text-decoration: none;
                    color: #fff;
                }
            }
        }
        .next_and_back_slide_show{
            button.left-arrow{
                border: none;
                background: transparent;
                float: left;
                margin-top: 200px;
                margin-left: 27%;
                
                img{
                    width: 44px;
                    height: 44px;
                    
                    &:hover{
                        cursor: pointer;
                    }
                }
            }
            button.right-arrow{
                border: none;
                background: transparent;
                float: right;
                margin-top: 200px;
                margin-right: 27%;
                
                img{
                    width: 44px;
                    height: 44px;
                    
                    &:hover{
                        cursor: pointer;
                    }
                }
            }
        }
        .portfolio-item{
            
            a{
                img{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: 0 auto;
                    width: 340px;
                    height: 220px;
                    max-width: 100%;
                    margin-top: 120px;
                    &:hover{
                        cursor: pointer;
                    }
                }
                &:hover{
                    cursor: auto;
                }
            }
        }
        .portfolio-text{
            h2{
                text-align: center;
                font-family: 'Rokkitt', serif;
                margin-top: 200px;
                font-size: 27px;
                
                b{
                    background: -webkit-linear-gradient(0.25turn,#146B7E,#2BD8FE);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
            }
            img{
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0 auto;
                width: 172px;
                height: auto;
                margin-top: -10px;
            }
        }
    }
}
@media only screen and (min-width: 1680px) and (max-width: 1919px){
    #portfolio{
        .getproject{
            button {
                border: none;
                border-radius: 25px;
                background: linear-gradient(0.25turn, #1DA1A9, #10D2FD);
                display: flex;
                justify-content: center;
                flex-direction: column; 
                align-items: center;
                margin: 0 auto;
                padding: 10px;
                width: 260px;
                margin-top: 70px;
                font-size: 18px;
                
                a{
                    text-decoration: none;
                    color: #fff;
                }
            }
        }
        .next_and_back_slide_show{
            button.left-arrow{
                border: none;
                background: transparent;
                float: left;
                margin-top: 200px;
                margin-left: 29%;
                
                img{
                    width: 44px;
                    height: 44px;
                    
                    &:hover{
                        cursor: pointer;
                    }
                }
            }
            button.right-arrow{
                border: none;
                background: transparent;
                float: right;
                margin-top: 200px;
                margin-right: 29%;
                
                img{
                    width: 44px;
                    height: 44px;
                    
                    &:hover{
                        cursor: pointer;
                    }
                }
            }
        }
        .portfolio-item{
            
            a{
                img{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: 0 auto;
                    width: 340px;
                    height: 220px;
                    max-width: 100%;
                    margin-top: 120px;
                    &:hover{
                        cursor: pointer;
                    }
                }
                &:hover{
                    cursor: auto;
                }
            }
        }
        .portfolio-text{
            h2{
                text-align: center;
                font-family: 'Rokkitt', serif;
                margin-top: 200px;
                font-size: 27px;
                
                b{
                    background: -webkit-linear-gradient(0.25turn,#146B7E,#2BD8FE);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
            }
            img{
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0 auto;
                width: 172px;
                height: auto;
                margin-top: -10px;
            }
        }
    }
}
@media only screen and (min-width: 1920px) and (max-width: 2559px){
    #portfolio{
        .getproject{
            button {
                border: none;
                border-radius: 25px;
                background: linear-gradient(0.25turn, #1DA1A9, #10D2FD);
                display: flex;
                justify-content: center;
                flex-direction: column; 
                align-items: center;
                margin: 0 auto;
                padding: 10px;
                width: 260px;
                margin-top: 70px;
                font-size: 18px;
                
                a{
                    text-decoration: none;
                    color: #fff;
                }
            }
        }
        .next_and_back_slide_show{
            button.left-arrow{
                border: none;
                background: transparent;
                float: left;
                margin-top: 200px;
                margin-left: 31%;
                
                img{
                    width: 44px;
                    height: 44px;
                    
                    &:hover{
                        cursor: pointer;
                    }
                }
            }
            button.right-arrow{
                border: none;
                background: transparent;
                float: right;
                margin-top: 200px;
                margin-right: 31%;
                
                img{
                    width: 44px;
                    height: 44px;
                    
                    &:hover{
                        cursor: pointer;
                    }
                }
            }
        }
        .portfolio-item{
            
            a{
                img{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: 0 auto;
                    width: 340px;
                    height: 220px;
                    max-width: 100%;
                    margin-top: 120px;
                    &:hover{
                        cursor: pointer;
                    }
                }
                &:hover{
                    cursor: auto;
                }
            }
        }
        .portfolio-text{
            h2{
                text-align: center;
                font-family: 'Rokkitt', serif;
                margin-top: 200px;
                font-size: 27px;
                
                b{
                    background: -webkit-linear-gradient(0.25turn,#146B7E,#2BD8FE);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
            }
            img{
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0 auto;
                width: 172px;
                height: auto;
                margin-top: -10px;
            }
        }
    }
}